.deals {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 24px;
}
.deals .item {
  position: relative;
  width: 100%;
}
.deals .item .deals-item-content {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 50px 40px;
  background-color: #f7fbfe;
  opacity: 0.8;
  width: 50%;
  transform: translate(-10%, -50%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 370px;
  justify-content: center;
}
.deals .item .deals-item-content-left {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 50px 40px;
  background-color: #f7fbfe;
  opacity: 0.8;
  width: 50%;
  transform: translate(10%, -50%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 370px;
  justify-content: center;
}

.deals .item img {
  max-width: 100%;
  height: auto;
}
.time {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  color: var(--bgAccentColor);
}
.deals .deals-item-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.deals-price {
  color: var(--bgAccentColor);
}
.deals .deals-time-icon {
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  .deals .item .deals-item-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #f7fbfe;
    opacity: 0.8;
    width: 90%;
    transform: translate(-50%, -20%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    min-height: 270px;
  }
  .deals .item .deals-item-content-left {
    min-height: 270px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #f7fbfe;
    opacity: 0.8;
    width: 90%;
    transform: translate(-50%, -20%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 10px;
  }
  .deals .item img {
    width: 100%;
    height: 500px;
  }
}
