* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 90%;
    margin: 0 auto;
    border: solid 1px;
}

/* Variable */
:root {
    --bgAccentColor: #ff5400;
    --textAccentColor: #ffffff;
}

/* Global Class */
.btn {
    background-color: var(--bgAccentColor);
    color: var(--textAccentColor);
    font-weight: bold;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
}

header {
    /* font-family: 'Inter', sans-serif; */
    font-family: "Mulish", sans-serif;
}

.nav1 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.travel {
    color: var(--bgAccentColor);
}

.nav-head {
    font-size: 36px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: left;
}

.nav2 ul {
    display: flex;
    list-style-type: none;
    gap: 44px;
}

.nav2 ul li a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0px;
}

/* BANNER */
.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: solid 1px;
    flex-direction: column;
    background-image: linear-gradient(180deg,
            rgba(19, 19, 24, 0.8) 0%,
            rgba(19, 19, 24, 0) 100%),
        url("Images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 30px;
}

.banner-text {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.banner-title {
    font-size: 64px;
    font-weight: bold;
    color: var(--textAccentColor);
    text-align: center;
}

.banner-desc {
    font-size: 16px;
    color: var(--textAccentColor);
    text-align: center;
}

.banner-btn {
    display: flex;
    gap: 24px;
    width: 60%;
    background: rgba(255, 255, 255, 0.3);
    padding: 16px;
    border-radius: 8px;
}

.banner-btn .banner-btnn {
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    color: rgba(19, 19, 24, 0.5);
    /* flex: 3; */
    /* display: inline-flex; */
}

.banner-btn button:nth-child(1) {
    /* padding: 5px 16px; */
    flex: 2;
}

.banner-btn button:nth-child(2) {
    /* padding: 16px 15px 16px 16px; */
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 50px; */
}

.banner-btn button:nth-child(3) {
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-btn button:nth-child(4) {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Destination Section  */
.Destination {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}

.Destination .dest-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.Destination .dest-desc {
    color: rgba(19, 19, 24, 0.70);
    width: 643px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
}


.dest-img {
    max-width: 1100px;
    margin-top: 48px;
}

.img {
    position: relative;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.over-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row-1 {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.row-1 .img img {
    width: 575px;
    height: 300px;
}

.row-2 {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 24px
}

.row-2 .img img {
    height: 286px;
}

.row-3 {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 24px
}

.row-3 .img img {
    height: 300px;
} 

/* Choose Us */
.choose {
    width: 100%;
    padding: 50px 0 50px 50px;
}

.choose-heading {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.item-container .item {
    width: 45%;
    border-radius: 16px;
    padding: 20px;
    padding-right: 25px;
}

.item-container .item:nth-child(1) {
    background-color: #fffbf7;
}

.item-container .item:nth-child(2) {
    background-color: #f4fdff;
}

.item-container .item:nth-child(3) {
    background-color: #fffbf7;
}

/* Deals */
.deals {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 24px;
}

.deals .deals-heading {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.deals .item {
    position: relative;
    width: 100%;
}

.deals .item .deals-item-content {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 50px 40px;
    background-color: #f7fbfe;
    opacity: 0.8;
    width: 50%;
    transform: translate(-10%, -50%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 370px;
    justify-content: center;
}

.deals .item .deals-item-content-left {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 50px 40px;
    background-color: #f7fbfe;
    opacity: 0.8;
    width: 50%;
    transform: translate(10%, -50%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 370px;
    justify-content: center;
}

.deals .item img {
    width: 100%;
}

.time {
    display: flex;
    gap: 10px;
    color: var(--bgAccentColor);
}

.deals .deals-item-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.deals-price {
    color: var(--bgAccentColor);
}

.deals .deals-time-icon {
    margin-right: 10px;
}

/* Video Section */
.video {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px 0px 20px;
}

.video ul {
    padding: 0px 30px 0px;
}

.video-desc {
    color: #5a5a5d;
}

.video div:nth-child(1) {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.video div:nth-child(2) {
    flex: 1;
}

.video div:nth-child(2) iframe {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/* Popular Section */
.popular {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px 0px 20px;
}

.popular ul {
    padding: 0px 30px 0px;
}

.popular-desc {
    color: #5a5a5d;
}

.popular div:nth-child(1) {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popular div:nth-child(2) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.popular div:nth-child(2) img {
    width: 80%;
    border-radius: 16px;
}

/* Newsletter */
.newsletter {
    display: flex;
    gap: 20px;
    padding: 50px 0px 50px 20px;
}

.news-left {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    border: 1px solid var(--bgAccentColor);
    padding: 40px;
    flex: 1;
    border-radius: 12px;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input {
    padding: 16px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    display: block;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
}

.news-right {
    position: relative;
    flex: 2;
}

.news-right img {
    width: 100%;
}

.newsletter .newsletter-img-text {
    position: absolute;
    bottom: 50px;
    right: 0;
    color: var(--textAccentColor);
    background-color: var(--bgAccentColor);
    padding: 20px;
    border-radius: 16px;
    transform: translate(-0%, -5%) rotate(310deg);
}

footer {
    margin-top: 50px;
    padding: 110px 0 110px 0;
    background: rgba(19, 19, 24, 0.05);
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

footer .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    flex-direction: row;
}

footer .logo img {
    width: 40px;
}

footer .logo h1 {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

footer p {
    max-width: 769px;
    color: #5a5a5d;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0 30px 0;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

footer .social-icons a {
    font-size: 30px;
    color: #131318;
}

footer hr {
    width: 60%;
    margin: 50px 0;
    border: 1px solid rgba(19, 19, 24, 0.082);
}